version: "3.8"

services:
  nginx:
    image: nginx:alpine
    container_name: web-nginx
    ports:
      - "80:80"
    volumes:
      - ./logs:/var/log/nginx
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - bigdata-net

  fluent-bit:
    image: fluent/fluent-bit:2.2
    container_name: fluent-bit
    depends_on:
      - nginx
    volumes:
      - ./fluent-bit:/fluent-bit/etc
      - ./logs:/var/log/nginx
    command: ["/fluent-bit/bin/fluent-bit", "-c", "/fluent-bit/etc/nginx-log-parser.conf"]
    networks:
      - bigdata-net

networks:
  bigdata-net:
    external: true
