version: "3.8"

services:
  nginx:
    image: nginx:alpine
    container_name: web-nginx
    ports:
      - "80:80"
    volumes:
      - ./logs:/var/log/nginx
    networks:
      - bigdata-net

  fluent-bit:
    image: fluent/fluent-bit:2.2
    container_name: fluent-bit
    depends_on:
      - nginx
    volumes:
      - ./fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - ./logs:/var/log/nginx
    command: ["/fluent-bit/bin/fluent-bit", "-c", "/fluent-bit/etc/fluent-bit.conf"]
    networks:
      - bigdata-net

networks:
  bigdata-net:
    external: true
