version: "3.8"

services:
  namenode:
    image: apache/hadoop:3
    container_name: namenode
    hostname: namenode
    ports:
      - "9870:9870"
      - "8020:8020"
    volumes:
      - namenode-data:/hadoop/dfs/name
    command: ["hdfs", "namenode"]
    networks:
      - bigdata-net

  resourcemanager:
    image: apache/hadoop:3
    container_name: resourcemanager
    hostname: resourcemanager
    ports:
      - "8088:8088"
    command: ["yarn", "resourcemanager"]
    networks:
      - bigdata-net

  nodemanager-1:
    image: apache/hadoop:3
    container_name: nodemanager-1
    command: ["yarn", "nodemanager"]
    networks:
      - bigdata-net

  spark-client:
    image: apache/spark:3.4.1
    container_name: spark-client
    hostname: spark-client
    volumes:
      - ./spark-apps:/opt/spark-apps
    command: ["sleep", "infinity"]
    networks:
      - bigdata-net

volumes:
  namenode-data:

networks:
  bigdata-net:
    external: true
